{% include head.html %}
{% include header.html %}
<div id="main-content" class="container landing-page" role="main">

    {% if site.frontpage_introduction_banner %}
    <div class="site-intro spacer medium">
        <h1>{{ site.frontpage_introduction_banner.title | t }}</h1>
        <p class="lead-copy">{{ site.frontpage_introduction_banner.description | t }}</p>
    </div>
    {% endif %}

    <h2 class="spacer medium red-underline">The 17 Goals</h2>

    <p class="spacer medium">The sustainable development goals are a set of <a href="#">17 goals</a></p>

    <div class="goal-tiles row no-gutters">
    {% for goal in page.goals %}
        <div class="col-xs-2 col-sm-1 goal-tile">
            <a href="./{{ goal.number }}/">
                <img src="{{ goal.icon }}" id="goal-{{ goal.number }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" />
            </a>
        </div>
    {% endfor %}
    </div>

    {% if site.frontpage_sections %}
    <div class="sections row">
        {% for each_section in site.frontpage_sections.sections %}
        <div class="section col-md-4">
            {% if each_section.underline_color %}
                {% assign underline_color = each_section.underline_color %}
            {% else %}
                {% assign underline_color = "red" %}
            {% endif %}
            <h2 style="border-bottom: 2px solid #4c9f38; {% if each_section.underline_color %} border-bottom: 2px solid {{ underline_color }}{% endif %}">{{ each_section.title }}</h2>
            <div class="section-content">
                {% include components/{{ each_section.component }} %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
</div>
{% include footer.html %}
